
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #D7BFD3;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #864176;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #D7BFD3 #f5f5f5;
}