@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&family=Petrona:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

body {
    font-family: 'Average', serif;
    margin: 0;
    padding: 0;
}

.header {
    padding: 0;
    margin: 0;
    background-color: #D7BFD3;
    height: 100px;
}

.logo {
    width: 200px;
    margin: 50px;
    margin-bottom: 55px;
}

.navbar {
    list-style: none;
    display: flex;
    align-items: center;
    height: 42px;
    justify-content: center;
}

.iconCardapio {
    margin-right: 887px;
    width: 40px;
    height: 40px;
    margin-left: -7px;
    margin-bottom: 10px;
    cursor: pointer;
}
